body {
	margin: 0;
	font-family: 'Raleway', sans-serif
}

h2 {
	margin: 0;
	padding-top: 4rem;
	text-align: center;
	font-size: 3rem;
	color: #003f5c
}

.content {
	display: flex;
	max-width: 1200px;
	padding: 0 2rem 2rem 2rem;
	margin: 0 auto;
	flex-direction: column;
	font-size: 1.2em;
	font-weight: 400;
	max-width: 1000px
}

.about-content,
.about-image {
	padding: 2rem
}

.about-image img {
	width: 100%
}
